annotated-types
anyio          
asyncpg        
certifi        
cffi           
click          
colorama       
cryptography   
dnspython      
email-validator
fastapi        
fastapi-cli    
fastapi-cloud-cli 
greenlet          
h11               
httpcore          
httptools         
httpx             
idna              
iniconfig         
Jinja2            
markdown-it-py    
MarkupSafe        
mdurl             
packaging         
pip               
pluggy            
psycopg2-binary   
pycparser         
pydantic          
pydantic_core     
Pygments          
PyJWT             
pytest            
python-dotenv     
python-multipart  
PyYAML            
rich              
rich-toolkit      
rignore           
sentry-sdk        
setuptools        
shellingham       
sniffio           
SQLAlchemy        
starlette         
typer             
typing_extensions 
typing-inspection 
urllib3           
uvicorn           
watchfiles        
websockets        
wheel             
pytest-cov