name: CI/CD

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.2.1
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Cache virtualenv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-

      - name: Install project deps
        run: |
          poetry install --no-interaction --no-root

      - name: Lint (ruff)
        run: |
          poetry run ruff check .

      - name: Test (pytest)
        env:
          PYTHONWARNINGS: "ignore"
        run: |
          poetry run pytest -q

  build-and-push:
    needs: lint-test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}   # ej. "samaelxz"
          password: ${{ secrets.DOCKERHUB_TOKEN }}      # Access Token

      - name: Prepare tags
        id: prep
        run: |
          IMAGE="docker.io/samaelxz/final_task_python_s"
          echo "image=${IMAGE}" >> $GITHUB_OUTPUT
          echo "sha_tag=${IMAGE}:${{ github.sha }}" >> $GITHUB_OUTPUT
          if [ "${{ github.ref_name }}" = "main" ]; then
            echo "latest_tag=${IMAGE}:latest" >> $GITHUB_OUTPUT
          fi

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ steps.prep.outputs.sha_tag }}
            ${{ steps.prep.outputs.latest_tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          pull: true
